// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$blue: #29B6F6;

ul{
  padding-left: 0px;
}

li{
  background: $blue;
  color: white;
  display: inline-flex;
  width: 20px;
  padding: 10px;

}

.btn-default{
  background: $blue
}
